<head>
    <style>
  .bg {
  /* The image used */
  background-image: url("http://img01.deviantart.net/bd7c/i/2016/161/5/e/henry_cavill_as_superman__crouching__png_by_nickelbackloverxoxox-da5rowy.png");
  

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
}

    .navbar{
        background: #123123;
    }
    
    </style>
</head>

<% include partials/header %>

<div class="bg">
    <div style="float:left">
        <h1 style="font-size:2em;">Welcome to the <span style="font-size:2em">Superheroic</span><br> Landing Page!</h1>
        
        
    </div>

    
</div>



<a href="/superheroes" style="font-size:1.5em;">View All Superheroes</a>




<% include partials/footer %>