<% include partials/header %>        
        
    
        <h1 style="text-align:center">Enter the City or Pincode</h1>
        <div style="width:30%;margin:25px auto;">
            <form action="/" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="city" placeholder="CITY or PINCODE">
                </div>
                    
                <div class="form-group">
                    <button class="btn btn-lg btn-success btn-block">Submit!</button>
                </div>
            </form>
        </div>
    
    
    
    
    
    
    <script src="server.js"></script>

<% include partials/footer %>