<% include partials/header %>

<h1>This is the new.ejs file</h1>

<form method="POST" action="/campgrounds">
    <input type="text" placeholder="Name" name="name">
    <input type="text" placeholder="Image URL" name="image">
    <input type="submit">
</form>


<a href="/campgrounds">Campgrounds Page</a>
<% include partials/footer %>