<!DOCTYPE html>
<html>
    <head>
        <title>ToDo List</title>
        <link rel="stylesheet" href="../public/stylesheets/main1.css">
        
        <script
  		src="https://code.jquery.com/jquery-3.3.1.js"
  		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  		crossorigin="anonymous"></script>

        <script type="text/javascript" src="assets/js/lib/jquery-2.1.4.min.js"></script>
	    <link href="https://fonts.googleapis.com/css?family=Roboto:500,700,900" rel="stylesheet">
	    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Latest compiled and minified CSS -->
        
    </head>
    <body>
        <nav class="navbar navbar-default navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/" style="font-size:5em;text-align:center;">To-Do List</a>
                </div>
            </div>
        </nav>