body{
	/*background: url(https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&auto=format&fit=crop&w=707&q=80);*/
	/*background : url(https://images.unsplash.com/photo-1519895387466-5fc5e7bf8b3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=734&q=80);*/
	/*background : url(https://images.unsplash.com/photo-1518600654093-2a24cddafa38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1417&q=80);*/
	background : url(https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80);
	background-position: center;
	background-size:cover;
	font-family : Lato;
	color:white;
}

h1 {
	font-weight: 700;
	font-size:5em;
}
hr {
	width : 400px;
	border-top : 1px solid #f8f8f8;
	border-bottom : 1px solid rgba(0,0,0,0.2);
}

#content{
	text-align : center;
	padding-top : 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);

}